.banner {
    margin-top:0;
    margin-bottom: -80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .banner-title {
    padding-top: 140px;
    color:white;
    max-width: 720px;
    margin-left: 30px;
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 1em;
  }
  
  .banner-buttons {
    display: flex;
    margin-left: 30px;
  }
  
  .banner-buttons button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
  }
  
  .banner-buttons button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
  
  .banner-description {
    margin-left: 30px;
    width: 45rem;
    color: white;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 360px;
    height: 80px;
  }
  
  .banner-fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
   
  }
  